/* Color Settings */

/* Top Nav-bar */

    /* 0 - Background Color */
    .custom-nav {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    }

    /* 1 - Nav-bar Icons color */
    i.fas,
    i.fab {
    color: rgb(255, 255, 255);
    }

    /* 2 - Search Icon */
    i.fa-search {
        color: rgb(255, 255, 255);
    }

    /* 3 - Badge Counter */
    .badge-value {
        color: rgb(255, 255, 255);
        }

    /* 4 - Button color */
    .custom-btn {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
        color:linear-gradient(to left,rgb(33, 37, 41),rgb(33, 37, 41));
    }

/* Main Content */

    /* 5 - Content Background */
    #content {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    } 

    /* 6 - Card Header Background */
    div.cd-header {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    }

    /* 7 - Card Header Font */
    div.cd-header h4 {
        color: rgb(255, 255, 255);
    }

    /* 8 - Card Body Background */
    div.cd-body {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    }

    /* 9 - Table Background */
    tbody.tb-body tr td{
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    }

    /* 10 - Hovering color */
    div.table-responsive table tbody td.table-data:hover {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
        color: rgb(245, 245, 245);
    }

    /* 11 - Simulations Table Font Color */
    tbody.tb-body tr {
        color: rgb(255, 255, 255);
    }

    /* 12 - Simulation Details Table Font Color */
    div.cd-body p {
        color: rgb(255, 255, 255);
    }

    /* 13 - Module Label Font Color */
    div.cd-body h4 {
        color: rgb(255, 255, 255);
    }

/* Sidebar */

    /* 14 - Background Color */
    .custom-sidebar {
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    }

    /* 15 - Icon Color */
    i.fas.fa-fw.icon-sidebar  {
        color: rgb(255, 255, 255);
    }

    /* 16 - Font Color */
    .custom-sidebar span {
        color: rgb(255, 255, 255);
    }



/* Footer */

    /* 17 - Footer Background */
    .sticky-footer{
        background-image: linear-gradient(to left,rgb(50, 50, 50), rgb(50, 50, 50));
    }

    /* 18 - Footer Text */
    #copyright {
        color: rgb(255, 255, 255);
    }

    /* 19 - Font Type */
    .custom-font {
        font-family: Arial;
    }

    /* 20 - Start Button Text Color */
    #start-button {
        color: rgb(255, 255, 255);
    }