.navbar{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
}
.navbar a { color: white; }

#banner-background {
    width: 100%;
}

#partner-description {
    overflow-wrap: break-word;
}

.regcardheader {
    /*background-color: rgb(35, 106, 236);*/
    background: linear-gradient(90deg, rgb(40, 93, 238) 0%, rgb(163, 29, 253) 100%, rgb(22, 204, 159) 100%);
}

#regcardfont {
    font-size: 20px;
}
/**
sign-up-page css
*/
.card-border{
    border-width:3px !important;
    border-color: rgb(131,58,180);
}
.sign-up-text{
    padding-top: 50%;
    color : rgba(131,58,180,1);
}
.login-text{
    padding-top: 40%;
    color : rgba(131,58,180,1);
}
.login-form{
    padding-top: 12%;
}
.sign-up-header{
    background: rgba(131,58,180,1);
}
.sign-up-btn{
    background: rgba(131,58,180,1);
}