.navbar{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
}
.navbar a {}

#banner-background {
    width: 100%;
}

#partner-description {
    overflow-wrap: break-word;
}

.regcardheader {
    /*background-color: rgb(35, 106, 236);*/
    background: linear-gradient(90deg, rgb(40, 93, 238) 0%, rgb(163, 29, 253) 100%, rgb(22, 204, 159) 100%);
}

#regcardfont {
    font-size: 20px;
}
/**
sign-up-page css
*/
.card-border{
    border-width:3px !important;
    border-color: rgb(131,58,180);
}
.sign-up-text{
    padding-top: 50%;
    color : rgba(131,58,180,1);
}

.sign-up-header{
    background: rgba(131,58,180,1);
}
.sign-up-btn{
    background: rgba(131,58,180,1);
}

.sim-title {
    background: rgb(148, 56, 209);
}


/**
login page css
*/

.login-text{
    padding-top: 40%;
    color : rgba(131,58,180,1);
}
.login-form{
    padding-top: 12%;
}

.login-btn{
    background: rgba(131,58,180,1);
}

/**
payment page css
*/

.payment-form{
    padding-top: 8%;
}

.payment-header {
    background: rgb(52, 131, 63);
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  #displayPaymentInfo{
    display: none;
  }